@page "/schedules/details"
@using Microsoft.EntityFrameworkCore
@using OzoneFitness.Domain
@inject IDbContextFactory<OzoneFitness.Data.OzoneFitnessContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>
<body></body>
<div>
    <h2>Schedule</h2>
    <hr />
    @if (schedule is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ScheduleID</dt>
            <dd class="col-sm-10">@schedule.ScheduleId</dd>
            <dt class="col-sm-2">DayOfWeek</dt>
            <dd class="col-sm-10">@schedule.DayOfWeek</dd>
            <dt class="col-sm-2">StartTime</dt>
            <dd class="col-sm-10">@schedule.StartTime</dd>
            <dt class="col-sm-2">EndTime</dt>
            <dd class="col-sm-10">@schedule.EndTime</dd>
            <dt class="col-sm-2">TrainerID</dt>
            <dd class="col-sm-10">@schedule.TrainerId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@schedule.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@schedule.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@schedule.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@schedule.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/schedules/edit?id={schedule.ScheduleId}")">Edit Details</a> |
            <a href="@($"/schedules")">Back to List</a>
        </div>
    }
</div>

@code {
    private Schedule? schedule;

    [SupplyParameterFromQuery]
    private int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        schedule = await context.Schedule.FirstOrDefaultAsync(m => m.ScheduleId == ID);

        if (schedule is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}